@model IEnumerable<UniversityManagementSystem.Models.Professor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProffessorTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorSurname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProffessorTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProfessorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProfessorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProfessorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
