@model UniversityManagementSystem.Models.Staff

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="modal-body">
   <h2>Hi I’m <b>@Html.DisplayFor(model => model.StaffName)</b> <br /></h2>
   <h5>I'm very happy to join this university, I will do my best here are some of my information for you:</h5><br />
   
   <h5>My Role is: <b><u>@Html.DisplayFor(model => model.StaffRole)</u></b></h5>
   
   <h5>My Full Name is: <b><u>@Html.DisplayFor(model => model.StaffName)</u></b></h5>
   
   <h5>I was working here since: <b><u>@Html.DisplayFor(model => model.StaredJob)</u></b></h5>
   <br />
   <h6>For more information please click the button "More Information". Thank you for reading my information.</h6>
   <br />
   <h5>My Contact</h5>
    <h6><b>Email: @Html.DisplayFor(model => model.Email)</b></h6>
    <h6><b>Phone: +383 @Html.DisplayFor(model => model.PhoneNumber)</b></h6>
</div>
<br />
<br />
<div>
    <a asp-action="Index" class="btn btn-dark" style="background:color;">&nbsp;Back&nbsp;</a>
</div>

<br />
<br />
<hr />
<div class="container">
    <div class="row d-flex justify-content-center mt-200"> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"> Read More + </button> </div> <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: black; color: white;">
                    <h5 class="modal-title" id="exampleModalLabel">More Information</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="modal-body">
                        <div id="smartwizard">
                            <div class="mt-4" >
                                <div id="step-1">
                                    <div class="row">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6"> <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;"> @Html.DisplayNameFor(model => model.Nationality) </dt>
                                                                <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;"> @Html.DisplayFor(model => model.Nationality.NationalityName) </dd>   
                                        </div>
                                        <div class="col-md-6"> <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;">@Html.DisplayNameFor(model => model.Branch)</dt>
                                                                <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;">@Html.DisplayFor(model => model.Branch.BranchName)</dd>    
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2">
                                    <div class="row" style="margin-top: 20px;"><br />
                                        <div class="col-md-6"> <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;">@Html.DisplayNameFor(model => model.Email)</dt>
                                                                <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;">@Html.DisplayFor(model => model.Email)</dd>  
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6"> <img src="~/@Model.Image" width="300px" height="290px" style="border-radius: 5px;border: 1px solid #efefef" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}