@model IEnumerable<UniversityManagementSystem.Models.Exam>

@{
    int intCount = 0;
}


<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramUniversity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            intCount = intCount + 1;
            <tr>
            <td>
                @intCount
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramUniversity.ProgramUniversityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.ProfessorName)
            </td>
            <td style="padding: 3px;">
                    <div class="btn-group">
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Exams",new { id = item.ExamId },Context.Request.Scheme)',' Edit')" class="butoni tooltipi btn" style="background-color: green;color: white;margin-right: 7px;border-radius: 0px;width:90px">
                            <span class="tooltipitext">Change</span>
                        </a><br>
                        <!--DELETE-->
                        <form asp-action="Delete" asp-route-id="@item.ExamId" method="post">
                            <button type="submit" class="butoni tooltipi btn" onclick="return functionConfirm(this)" style="background-color:red; color:white;border-radius: 0px;width:90px">
                               <span class="tooltipitext">Delete</span>
                            </button>
                        </form>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
