@model UniversityManagementSystem.Models.Student

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="modal-body" style="    border: 1px solid black;
    padding-left: 170px;
    padding-right: 170px;
    width: 800px;
    margin-left: 150px;
    margin-top: 25px;">
    <div class="mt-4" >
        <div id="step-1">
            <div class="row">
                <div class="col-md-6" > <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;"> @Html.DisplayNameFor(model => model.PersonalNumber)</dt>
                                        <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;">@Html.DisplayFor(model => model.PersonalNumber)</dd>
                </div>
                <div class="col-md-6"> <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;">@Html.DisplayNameFor(model => model.StudentName)</dt>
                                       <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;">@Html.DisplayFor(model => model.StudentName)</dd>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6"> <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;">@Html.DisplayNameFor(model => model.ParentName)</dt>
                                       <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;">@Html.DisplayFor(model => model.ParentName)</dd>  
                </div>
                <div class="col-md-6"> <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;">@Html.DisplayNameFor(model => model.Surname)</dt>
                                       <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;">@Html.DisplayFor(model => model.Surname)</dd>   
                </div>
            </div>
        </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Edit", "Edit", new {id=Model.StudentId}, new { @class = "btn btn-success", @style = "color:white; margin-left: 17px;" }) |
    <a asp-action="Index" class="btn btn-dark" style="background:color;">&nbsp;Back&nbsp;</a>
</div>

<br />
<br />
<hr />
<div class="container">
    <div class="row d-flex justify-content-center mt-200"> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"> Read More + </button> </div> <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: black; color: white;">
                    <h5 class="modal-title" id="exampleModalLabel">More Information</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="modal-body">
                        <div id="smartwizard">
                            <div class="mt-4" >
                                <div id="step-1">
                                    <div class="row">
                                        <div class="col-md-6" > <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;"> @Html.DisplayNameFor(model => model.Birthplace)</dt>
                                                                <dd class = "col-sm-10"style="font-size: 17px; font-family: serif;">@Html.DisplayFor(model => model.Birthplace)</dd>
                                        </div>
                                        <div class="col-md-6"> <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;"> @Html.DisplayNameFor(model => model.ProgramUniversity) </dt>
                                                                <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;"> @Html.DisplayFor(model => model.ProgramUniversity.ProgramUniversityName) </dd>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6"> <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;"> @Html.DisplayNameFor(model => model.Nationality) </dt>
                                                                <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;"> @Html.DisplayFor(model => model.Nationality.NationalityName) </dd>   
                                        </div>
                                        <div class="col-md-6"> <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;">@Html.DisplayNameFor(model => model.Branch)</dt>
                                                                <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;">@Html.DisplayFor(model => model.Branch.BranchName)</dd>    
                                        </div>
                                    </div>
                                </div>
                                <div id="step-2">
                                    <div class="row" style="margin-top: 20px;"><br />
                                        <div class="col-md-6"> <dt class = "col-sm-2" style="font-size: 20px; font-family: serif;">@Html.DisplayNameFor(model => model.Email)</dt>
                                                                <dd class = "col-sm-10" style="font-size: 17px; font-family: serif;">@Html.DisplayFor(model => model.Email)</dd>  
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6"> <img src="~/@Model.Image" width="300px" height="290px" style="border-radius: 5px;border: 1px solid #efefef" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}