@model IEnumerable<UniversityManagementSystem.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int intCount = 0;
    int intSudentId = 222357849;
}

<br />
<br />
<h3 style="text-align:center; font-size: 26px; font-family: serif;">List of students</h3>
<br />
<br />



@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
    data-url="@Url.Action("Create")">Create</button>*@

<table class="table">
    <thead style="font-size: 17px; font-family: serif;">
        <tr style="text-align:center;">
            <th>
                #
            </th>
            <th>
                Student Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    intCount = intCount +1;
    intSudentId = intSudentId +1;
        <tr style="font-size: 16px; font-family: serif; text-align:center;">
            <td>
                @intCount
            </td>
            <td style="    background: #edf4f6; font-weight: bold; text-align:center;">
                @intSudentId
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |

                <form asp-action="Delete" asp-route-id="@item.StudentId" style="display: contents;" method="post"> 
                    <button type="submit" class="btn btn-danger" onclick="return functionConfirm(this)">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/swal.js"></script>
    <script src="~/js/ajax.js"></script>
}

